<a href="https://colab.research.google.com/github/fatemehkarimii/Python/blob/main/1_operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

operator

In [ ]:
a = 2
b = 3
c, d = 4, 5

print("a")
print(a)
print("a :" , a)
print("d :" , d)

a
2
a : 2
d : 5

In [ ]:
a + b

5

In [ ]:
f = c + d

In [ ]:
print(f"a + b = {a + b}")
print(f"c - d = {c - d}")
print(f"a / b = {a / b}")
print(f"c * d = {c * d}")
print(f"a // b = {a // b}")
#df.to_csv(f'./user_{user}.csv')

a + b = 5
c - d = -1
a / b = 0.6666666666666666
c * d = 20
a // b = 0

In [ ]:
print(f"6 + 5 = {6 + 5}")
print(f"6 - 5 = {6 - 5}")
print(f"6 * 5 = {6 * 5}")
print(f"6 / 5 = {6 / 5}")
print(f"6 // 5 = {6 // 5}")
print(f"6 % 5 = {6 % 5}")

6 + 5 = 11
6 - 5 = 1
6 * 5 = 30
6 / 5 = 1.2
6 // 5 = 1
6 % 5 = 1

In [ ]:
a, b, c, d = 1, 3.1, 5, 7 
a += 5  # a = a + 5
b -= 2  # b = b - 2 
c *= 1  # c = c * 1
d /= 3  # d = d / 3
print("a :" , a,",b :" , b,",c :" , c,",d :" , d)

a : 6 ,b : 1.1 ,c : 5 ,d : 2.3333333333333335

In [ ]:
 #(), *,/
 10 - 8 * 3
 (4 + 8) / 6

-14

In [ ]:
  x = 2
  y = 3
  x == y

False

In [ ]:
  x = 0
  y = 0
  x == y

True

In [ ]:
print(0 == 0)
print(7 == 9)
print(1 != 1)
print(1 != 2)

True
False
False
True

In [ ]:
print(0 > 0)
print(0 >= 0)
print(7 <  9)
print(1 <= 1)

False
True
True
True

In [ ]:
# NOT
print(f"NOT 0 = {not 0}")
print(f"NOT 1 = {not 1}")

print(not (2!= 6))
print(not (12/6 ==3))
print(not (7 < 9))

# AND
print(f" 0 AND 0 = {0 & 0}")
print(f" 0 AND 1 = {0 & 1}")
print(f" 1 AND 0 = {1 & 0}")
print(f" 1 AND 1 = {1 & 1}")

print(4>3 and 2!= 6)
print(7-2 == 5  and 12/6 ==3)
print(3==9 and 4!=6 and 7 < 9)


# NAND
print(f" 0 NAND 0 = {not (0 & 0)}")
print(f" 0 NAND 1 = {not (0 & 1)}")
print(f" 1 NAND 0 = {not (1 & 0)}")
print(f" 1 NAND 1 = {not (1 & 1)}")

print(not (3==9 and 4!=6 and 7 < 9))

# OR 
print(f" 0 OR 0 = {0 | 0}")
print(f" 0 OR 1 = {0 | 1}")
print(f" 1 OR 0 = {1 | 0}")
print(f" 1 PR 1 = {1 | 1}")

print(4>3 or 2!= 6)
print(7-2 == 5  or 12/6 ==3)
print(3==9 or 4!=6 or 7 < 9)


# NOR
print(f" 0 NOR 0 = {not (0 | 0)}")
print(f" 0 NOR 1 = {not (0 | 1)}")
print(f" 1 NOR 0 = {not (1 | 0)}")
print(f" 1 NOR 1 = {not (1 | 1)}")
print(not (3==9 or 4!=6 or 7 < 9))

# XOR
print(f" 0 XOR 0 = {0 ^ 0}")
print(f" 0 XOR 1 = {0 ^ 1}")
print(f" 1 XOR 0 = {1 ^ 0}")
print(f" 1 XOR 1 = {1 ^ 1}")

# XOR
print(f" 0 XOR 0 = {0 == 0}")
print(f" 0 XOR 1 = {0 == 1}")
print(f" 1 XOR 0 = {1 == 0}")
print(f" 1 XOR 1 = {1 == 1}")

# XNOR
print(f" 0 XNOR 0 = {not (0 == 0)}")
print(f" 0 XNOR 1 = {not (0 == 1)}")
print(f" 1 XNOR 0 = {not (1 == 0)}")
print(f" 1 XNOR 1 = {not (1 == 1)}")

NOT 0 = True
NOT 1 = False
 0 AND 0 = 0
 0 AND 1 = 0
 1 AND 0 = 0
 1 AND 1 = 1
 0 NAND 0 = True
 0 NAND 1 = True
 1 NAND 0 = True
 1 NAND 1 = False
 0 OR 0 = 0
 0 OR 1 = 1
 1 OR 0 = 1
 1 PR 1 = 1
 0 NOR 0 = True
 0 NOR 1 = False
 1 NOR 0 = False
 1 NOR 1 = False
 0 XOR 0 = 0
 0 XOR 1 = 1
 1 XOR 0 = 1
 1 XOR 1 = 0
 0 XOR 0 = True
 0 XOR 1 = False
 1 XOR 0 = False
 1 XOR 1 = True
 0 XNOR 0 = False
 0 XNOR 1 = True
 1 XNOR 0 = True
 1 XNOR 1 = False

In [ ]:
print(f" a = {int(3)}")
print(f"b = {int(3.4)}")
print(f"c = {float (3)}")

 a = 3
b = 3
c = 3.0

In [ ]:
x = int(3.2) + float(8) / int(2.8)
print('x is', x)
print('type(x) is', type(x))

x is 7.0
type(x) is <class 'float'>

In [ ]:
int(8) / int(2.8)

In [ ]:
print('type(True) is', type(True))
print('type(False) is', type(False))
print('type(2==5) is', type(2==5))
print('type(2) is', type(2))
print('type(2.) is', type(2.))
print('type("2") is', type("2")) # " '1' ", ' "2" '

type(True) is <class 'bool'>
type(False) is <class 'bool'>
type(2==5) is <class 'bool'>
type(2) is <class 'int'>
type(2.) is <class 'float'>
type("2") is <class 'str'>

String

In [ ]:
str1 = 'welcome '
str2 = 'to '
str3 = 'python!'
str4 = str1 + str2 + str3

print(str4)                 #welcome to python!

print(2*str4)               #welcome to python!welcome to python!
# print(str4 + 2)---> str + int  Error 

print(len(str1))            #8

print(str1[6])              #e
print(str1[:])              #welcome
print(str1[0:])             #welcome
print(str1[:2])             #we
print(str1[2:])             #lcome
print(str1[2:5])            #lco
print(str3[:-1])            #python
print(str3[4:-1])           #on
print(str1[:-5])            #wel
print(str1[-1])             #space
print(str1[-3])             #m

welcome to python!
welcome to python!welcome to python!
8
e
welcome
welcome
we
lcome
lco
python
on
wel

m

In [ ]:
str3.find('p')  # index
str3.find('l')  # -1

0

In [ ]:
age = input(" please enter your age: ")

 please enter your age: 27

In [ ]:
print('age: ',age)
print("type(age) is" ,type(age))
int(age)

age:  27
type(age) is <class 'str'>

27

In [ ]:
str1 = "PYTHON"
str1.lower()

'python'

In [ ]:
str1 = "python"
str1.islower()

True

In [ ]:
str1 = "python"
str1.upper()

In [ ]:
str1 = "PYTHON"
str1.isupper()

False

In [ ]:
str1 = " "
str1.isspace()

True

In [ ]:
str1 = "pyton"
str1.startswith('p')
str1.endswith('n')

True

In [ ]:
str1 = "Machine learning and Deep learning"
str2 = str1.replace("Machine learning", "Ai")
print(str1)
print(str2)

Machine learning and Deep learning
Ai and Deep learning

In [ ]:
str1 = "012345"
str1.isdigit()

True

In [ ]:
str1.TAB

Mathematics

In [ ]:
import math

print(f'2^3: {math.pow(2,3)}')
print(f'sqrt(4): {math.sqrt(4)}')
print(f'sin(30): {math.sin(30)}')
print(f'cos(0): {math.cos(40)}')   #angle is radian
print(f'e: {math.e}')
print(f'4!: {math.factorial(4)}')
print(f'pi: {math.pi}')
print(f'log10(600): {math.log10(600)}')
print(f'log2(600): {math.log2(36)}')
print(f'abs(-3): {math.fabs(-3)}')
print(f'floor: {math.floor(3.8)}')  #round down
print(f'ciel: {math.ceil(3.3)}')    #round up

2^3: 8.0
sqrt(4): 2.0
sin(30): -0.9880316240928618
cos(0): -0.6669380616522619
e: 2.718281828459045
4!: 24
pi: 3.141592653589793
log10(600): 2.7781512503836434
log2(600): 5.169925001442312
abs(-3): 3.0
floor: 3
ciel: 4

In [ ]:
from math import tanh
tanh(1)

0.7615941559557649

In [ ]:
math.TAB

In [ ]:
#@title practice 1
a = 0
b = 0

x = a & b
y = (not a) & (not b)
z = x | y
z

1

In [ ]:
#@title practice 2
# 1/1! + 2/2! + 3/3!

import math

x = (1/math.factorial(1)) + (2/math.factorial(2)) + (3/math.factorial(3))

In [ ]:
a = 2
b = 4
c = 3

p = (a + b + c) / 2
area = math.sqrt(p *(p-a) * (p-b) * (p-c))
area

In [ ]:
x = 8
a,b,c,d = 0,10,0, 10
Result =  ((x-a)/(b-a)) * ((d-c) + c)
Result

In [ ]:
# a = b
# c = ?

#1 = 1000
#1.5 = ?

a = 1
b = 1000
c = 1.5

Result = (b*c) / a

Result

#3 = 8
#12 = ?
a,b,c = 3,8,12

Result = (b*c) / a
Result

In [ ]:
Phone = "09331367233"
Irancell = Phone[0:3] == "093"
IR_MCI = Phone[0:3] == "091"
Ritell = Phone[0:3] == "090"

print(f"Irancell: {Irancell}")
print(f"IR_MCI: {IR_MCI}")
print(f"Ritell: {Ritell}")

In [ ]:
S2 = "hi, This is Fatemeh. I am going to review python language!"

name = "Fatemeh" in S2
python = "python" in S2
CSharp = "c#" in S2
Matlab = "matlab" in S2


print(f"name: {name}")
print(f"python: {python}")
print(f"CSharp: {CSharp}")
print(f"Matlab: {Matlab}")

name: True
python: True
CSharp: False
Matlab: False

In [ ]:
text = '''
python
is
best!
'''
text = text.replace("\n", ' ')
text.split(' ')

['', 'python', 'is', 'best!', '']