<a href="https://colab.research.google.com/github/fatemehkarimii/Python-Tutorial/blob/main/6_Touple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple

In [ ]:
T1 = (4, 2, 5, 8, 4)

print(T1)
print(type(T1))
print("len:", len(T1))

(4, 2, 5, 8, 4)
<class 'tuple'>
len: 5

In [ ]:
T = (2)
type(T)

int

In [ ]:
T = (2,)
type(T)

tuple

In [ ]:
T1.count(4)

2

In [ ]:
T1.count(2)

In [ ]:
T1.index(4)

In [ ]:
T1.index(5)

In [ ]:
T1[0]

In [ ]:
T1[0] = 5

In [ ]:
print(f"min : {min(T1)}")
print(f"max : {max(T1)}")
print(f"sum : {sum(T1)}")
print(f"sorted : {sorted(T1)}")

In [ ]:
T2 = tuple([1, 2])

print(T2)
print(type(T2))
print(f"len: {len(T2)}")

In [ ]:
2 in T2

In [ ]:
T2 = tuple(['s', 'k', 2, 6, 'f'])
T2

In [ ]:
T3 = (12, 8, 'a', 's', 5, "Hi", "Python", [2, 4, 6], {5, 3, 8}, (9, 'h', 6))

print(len(T3))
print(T3)

10
(12, 8, 'a', 's', 5, 'Hi', 'Python', [2, 4, 6], {8, 3, 5}, (9, 'h', 6))

In [ ]:
for i in T3:
    print(i)

In [ ]:
for i in range(len(T3)):
    print(T3[i])

In [ ]:
T3[7]

In [ ]:
T3[7][1]

In [ ]:
T3[5:8]

('Hi', 'Python', [2, 4, 6])

In [ ]:
T3[-1]

In [ ]:
T3[-2]

In [ ]:
del T3

In [ ]:
T4 = (2, 'h', [2,4, 6], "Hi")
T5 = ('New3',)
T4 += T5
T4

In [ ]:
import math

T6 = (2, 4, 6, 8, 10)

for i in  T6:
    print(math.factorial(i))