<a href="https://colab.research.google.com/github/fatemehkarimii/Python-Tutorial/blob/main/7_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary

In [1]:
D1 = {
    "name" : "Ali",
    "family" : "Nazarizadeh",
    "age" : 25,
    "city" : "Kermanshah"
     }

# List = ["Ali", "Nazarizadeh", 25, "Kermanshah"]

print(D1)
print("len:", len(D1))
print(type(D1))

{'name': 'Ali', 'family': 'Nazarizadeh', 'age': 25, 'city': 'Kermanshah'}
len: 4
<class 'dict'>

In [ ]:
name = ["Rasoul", "Ali", "Javad"]
number = [16, 17, 14]

D2 = {
    "name": name,
    "number" : number
}

print(D2)
print("len:", len(D2))
print(type(D2))

{'name': ['Rasoul', 'Ali', 'Javad'], 'number': [16, 17, 14]}
len: 2
<class 'dict'>

In [ ]:
even = [i for i in range(10) if i%2 == 0]
odd = [i for i in range(10) if i%2 != 0]

D2 = {
    "even": even,
    "odd": odd
}

print(D2)
print("len:", len(D2))
print(type(D2))

{'x1': [0, 2, 4, 6, 8], 'x2': [1, 3, 5, 7, 9]}
len: 2
<class 'dict'>

In [ ]:
Set = {2, 5, 8, 3}
List = ["Ali", 5, [2, 8, 9], {2, 8, "Reza"}]
Tuple = ("python", 19, 25)
Dict = {
    "Course": 
    {
        "Python": ["Ali", "Sina", "Mehran", "Bahar"],
        "Java": ["Farhad", "Bahar"]
    }
}

D3 = {
    "Set": Set,
    "List": List,
    "Tuple": Tuple,
    "Dict": Dict
}

len(D3)

4

In [ ]:
D3

{'Set': {2, 3, 5, 8},
 'List': ['Ali', 5, [2, 8, 9], {2, 8, 'Reza'}],
 'Tuple': ('python', 19, 25),
 'Dict': {'Course': {'Python': ['Ali', 'Sina', 'Mehran', 'Bahar'],
   'Java': ['Farhad', 'Bahar']}}}

In [ ]:
D3 = dict(course= "python", teacher= "Ali", Id= 332, single= True, gmail= "computer.engineer.as@gmail.com")

print(D3)
print("len:", len(D3))
print(type(D3))

{'course': 'python', 'teacher': 'Ali', 'Id': 332, 'single': True, 'gmail': 'computer.engineer.as@gmail.com'}
len: 5
<class 'dict'>

In [ ]:
Person1 = {}
Person2 = {1}

print(type(Person1))
print(type(Person2))

<class 'dict'>
<class 'set'>

In [ ]:
Person = {}

Person["name"] = "Ali"
Person["family"] = "Nazarizadeh"
Person["age"] = 25
Person["Course"] = ["Python", "C#", "Matlab"]
Person["details"] = {
    "City": "Tehran",
    "Address": "Iran, Tehran, ..."
}

type(Person)

dict

In [ ]:
Person

{'name': 'Ali',
 'family': 'Nazarizadeh',
 'age': 25,
 'Course': ['Python', 'C#', 'Matlab'],
 'details': {'City': 'Tehran', 'Address': 'Iran, Tehran, ...'}}

In [ ]:
D3

{'course': 'python',
 'teacher': 'Ali',
 'Id': 332,
 'single': True,
 'gmail': 'computer.engineer.as@gmail.com'}

In [ ]:
for key in D3.keys():
    print(key)

course
teacher
Id
single
gmail

In [ ]:
D3.keys()

dict_keys(['course', 'teacher', 'Id', 'single', 'gmail'])

In [ ]:
for value in D3.values():
    print(value)

python
Ali
332
True
computer.engineer.as@gmail.com

In [ ]:
D3.values()

dict_values(['python', 'Ali', 332, True, 'computer.engineer.as@gmail.com'])

In [ ]:
for key, value in D3.items(): 
    print(key ,":", value)

course : python
teacher : Ali
Id : 332
single : True
gmail : computer.engineer.as@gmail.com

In [ ]:
x = []
y = []

for key, value in D3.items(): 
    x.append(key)
    y.append(value)

In [ ]:
print(x)
print(y)

['course', 'teacher', 'Id', 'single', 'gmail']
['python', 'Ali', 332, True, 'computer.engineer.as@gmail.com']

In [ ]:
D3.items()

dict_items([('course', 'python'), ('teacher', 'Ali'), ('Id', 332), ('single', True), ('gmail', 'computer.engineer.as@gmail.com')])

In [ ]:
D4 = D3
D5 = D3.copy()

print(type(D4))
print(type(D5))

<class 'dict'>
<class 'dict'>

In [ ]:
D3.clear()

print("D3: ", D3)
print("D5: ", D5)

D3:  {}
D5:  {'course': 'python', 'teacher': 'Ali', 'Id': 332, 'single': True, 'gmail': 'computer.engineer.as@gmail.com'}

In [ ]:
del D3

In [ ]:
D5

{'course': 'python',
 'teacher': 'Ali',
 'Id': 332,
 'single': True,
 'gmail': 'computer.engineer.as@gmail.com'}

In [ ]:
D5.get('teacher')

'Ali'

In [ ]:
D5['teacher']

'Ali'

In [ ]:
D5.pop('course')
D5

{'teacher': 'Ali',
 'Id': 332,
 'single': True,
 'gmail': 'computer.engineer.as@gmail.com'}

In [ ]:
D5.popitem()
D5

{'teacher': 'Ali', 'Id': 332, 'single': True}

In [ ]:
'teacher' in D5

True

In [ ]:
'teacher' in D5.keys()

True

In [ ]:
'Ali' in D5

False

In [ ]:
'Ali' in D5.values()

True

In [ ]:
D5

{'teacher': 'Ali', 'Id': 332, 'single': True}

In [ ]:
D1

{'name': 'Ali', 'family': 'Nazarizadeh', 'age': 25, 'city': 'Kermanshah'}

In [ ]:
D6 = {}

D6.update(D1)
D6

{'name': 'Ali', 'family': 'Nazarizadeh', 'age': 25, 'city': 'Kermanshah'}

In [ ]:
D6.clear()
D6

{}

In [ ]:
D6 = {
    "gmail": "computer.engineer.as@gmail.com"
}

D6.update(D1)
D6

{'gmail': 'computer.engineer.as@gmail.com',
 'name': 'Ali',
 'family': 'Nazarizadeh',
 'age': 25,
 'city': 'Kermanshah'}

In [ ]:
D6.clear()
D6

{}

In [ ]:
D6 = {
    'gmail': "computer.engineer.as@gmail.com",
    'name': "Rasoul",
    'age': 26
}

D6.update(D1)
D6

{'gmail': 'computer.engineer.as@gmail.com',
 'name': 'Ali',
 'age': 25,
 'family': 'Nazarizadeh',
 'city': 'Kermanshah'}

In [ ]:
D7 = {i: ("even" if i % 2 == 0 else "odd") for i in range(10)}
D7

{0: 'even',
 1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd'}

In [ ]:
D7 = {
    "id": 332,
    "age": 25,
    "number": 123
}

D8 = {key: value*2 for key, value in D7.items()}
D8

{'id': 664, 'age': 50, 'number': 246}

In [ ]:
Python = {
    "Teacher":
    {
        "Name": "Ali",
        "Family": "Nazarizadeh",
        "Age": 25,
        "Gmail": "computer.engineer.as@gmail.com"
    },
    
    "chapter":
    {
        "chapter1": "معرفی زبان پایتون و محیط های برنامه نویسی", 
        "chapter2": "عملگرها، رشته ها و ریاضیات",
        "chapter3": "حلقه ها و دستورات شرطی" ,
        "chapter4": "set - مجموعه ها",
        "chapter5": "list - لیست ها",
        "chapter6": "tuple - تاپل ها",
        "chapter7": "dictionary - دیکشتری ها",
    },
    
    "Students":
    {
        "name": ["Reza", "Afarin", "Mehrnoush", "Sina"],
        "number": [18, 20, 19, 19]
    },
    
    "Score": 20
}

In [ ]:
len(Python)

4

In [ ]:
Python.keys()

dict_keys(['Teacher', 'chapter', 'Students', 'Score'])

In [ ]:
for value in Python.values():
    print(value)

{'Name': 'Ali', 'Family': 'Nazarizadeh', 'Age': 25, 'Gmail': 'computer.engineer.as@gmail.com'}
{'chapter1': 'معرفی زبان پایتون و محیط های برنامه نویسی', 'chapter2': 'عملگرها، رشته ها و ریاضیات', 'chapter3': 'حلقه ها و دستورات شرطی', 'chapter4': 'set - مجموعه ها', 'chapter5': 'list - لیست ها', 'chapter6': 'tuple - تاپل ها', 'chapter7': 'dictionary - دیکشتری ها'}
{'name': ['Reza', 'Afarin', 'Mehrnoush', 'Sina'], 'number': [18, 20, 19, 19]}
20

In [ ]:
Python["Teacher"]

{'Name': 'Ali',
 'Family': 'Nazarizadeh',
 'Age': 25,
 'Gmail': 'computer.engineer.as@gmail.com'}

In [ ]:
Python["Teacher"]["Gmail"]

'computer.engineer.as@gmail.com'

In [ ]:
Python["Students"]

{'name': ['Reza', 'Afarin', 'Mehrnoush', 'Sina'], 'number': [18, 20, 19, 19]}

In [ ]:
Python["Students"]["number"]

[18, 20, 19, 19]

In [ ]:
Python["Students"]["number"][1]

20

In [ ]:
Python["Students"]["number"][0] == 56

False

In [ ]:
Python["Students"]["name"]

['Reza', 'Afarin', 'Mehrnoush', 'Sina']

In [ ]:
Python["Students"]["name"][1]

'Afarin'

In [ ]:
"Afarin" in Python["Students"]["name"]

True

In [ ]:
Python["Students"]["name"] = ["Ali", "Javad", "Bahar", "Mehran"]
Python["Students"]["name"]

['Ali', 'Javad', 'Bahar', 'Mehran']

In [ ]:
Python["Students"]["number"][0] = 100
Python["Students"]["number"][0]

100

In [ ]:
help(Python.fromkeys)

In [ ]:
help(Python.setdefault)