<a href="https://colab.research.google.com/github/fatemehkarimii/Python-Tutorial/blob/main/8_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# function

In [1]:
def F1():
    print("Hi Friends")

In [2]:
F1()

Hi Friends

In [3]:
def F2():
    a = 2
    b = 3
    print(a**b)

In [4]:
F2()

8

In [5]:
def F3():
    a = 2
    b = 3
    return a**b

In [6]:
x = F3()
x

8

In [7]:
def F4():
    a = [2, 8, 3, 9, 1]
    return max(a)

In [8]:
x = F4()
x

9

In [9]:
def F5(a):
    print(a)

In [10]:
F5(10)

10

In [11]:
def F6(a, b):
    x = a**2
    y = a*b
    print(x, y)

In [12]:
F6(2, 4)

4 8

In [13]:
def F7(a):
    return a

In [14]:
F7(5)

5

In [15]:
x = F7(5)
x

5

In [16]:
def F8(a, b):
    x = a**2
    y = a*b
    return x, y

In [17]:
F8(2, 4)

(4, 8)

In [18]:
x1, y1 = F8(2, 4)

In [ ]:
print(f"x: {x1}, y: {y1}")

x: 4, y: 8

In [19]:
x = max(2, 8, 4)
y = min(2, 4, 6)

print(x)
print(y)

8
2

In [20]:
List = [6, 8, 7, 2]
L = len(List)
L

4

In [21]:
S1 = {2, 4, 6, 8}
S1.add(10)
S1

{2, 4, 6, 8, 10}

In [22]:
def Rectangle(length, width):
    area = length * width
    perimeter  = 2 * (length + width)
    
    return area, perimeter

In [23]:
Rectangle(2, 4)

(8, 12)

In [24]:
area, perimeter  = Rectangle(2, 4)

print(f"area: {area}, perimeter: {perimeter}")

area: 8, perimeter: 12

In [25]:
area, perimeter  = Rectangle(length=2, width=4)

print(f"area: {area}, perimeter: {perimeter}")

area: 8, perimeter: 12

In [26]:
area, perimeter  = Rectangle(width=4, length=2)

print(f"area: {area}, perimeter: {perimeter}")

area: 8, perimeter: 12

In [27]:
def Adult(age):
    if age < 18:
        return False
    elif age >= 18:
        return True

In [28]:
Adult(15)

False

In [29]:
def Adult3(age):
    if age < 18:
        return 0
    elif age >= 18:
        return 1

In [30]:
Adult3(25)

1

In [32]:
boy = ["Ali", "Mohammad", "Sina", "Reza", "Rasoul", "Mohsen"]
def Adult4(age, name):
    
    if Adult3(age) == 1 and name in boy:
        return f"Hi {name}, your age is {age} "
    elif Adult3(age) == 1 and name not in boy:
        return f"{name} is not exist"
    else:
        return "Error"

In [33]:
Adult4(45, "Reza")

'Hi Reza, your age is 45 '

In [34]:
def F9(a):
    return (a**2) / (2*a)

if F9(8) >= 4 and Adult3(25) == 1:
    print("Yes")
else:
    print("No")

Yes

In [35]:
def Check_B_G(name):
    boy = ["Ali", "Mohammad", "Sina", "Reza", "Rasoul", "Mohsen"]
    girl = ["Zahra", "Bahar", "Fatemeh", "Mona", "Hana", "Parmida"]
    
    if name in boy:
        return "BOY"
    elif name in girl:
        return "GIRL"
    else:
        return 0

In [36]:
x = Check_B_G("Ali")
print(x)
print(type(x))

BOY
<class 'str'>

In [ ]:
def Person(Name="Ali", Family="Nazarizadeh", Age=25):
    return Name, Family, Age

In [ ]:
N, F, A = Person()

print(N, F, A)

Ali Nazarizadeh 25

In [ ]:
N, F, A = Person(Name="Rasoul", Family="Taheri")

print(N, F, A)

Rasoul Taheri 25

In [ ]:
N, F, A = Person(Name="Rasoul", Family="Taheri", Age=26)

print(N, F, A)

Rasoul Taheri 26

In [ ]:
import math

def Factorial(a):
    f = []
    for i in range(a):
        f.append(math.factorial(i))
    return f

In [ ]:
x = Factorial(6)

print(f"x: {x}")
print({type(x)})

x: [1, 1, 2, 6, 24, 120]
{<class 'list'>}

In [ ]:
L1 = [pow(2, i) for i in range(10)]

def F10(a):
    return a

In [ ]:
F10(L1)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
def F11(a):
    l = []
    for i in a:
        if i >=16 and i<= 128:
            l.append(i)
    return l

In [ ]:
x = F11(L1)
x

[16, 32, 64, 128]

In [ ]:
D1 = {
    "id": 332,
    "age": 25,
    "number": 423
}

In [ ]:
def F12(a):
    k, v = [], []
    for key, value in a.items():
        k.append(key)
        v.append(value)
    return k, v

In [ ]:
k, v = F12(D1)

print(f"keys {k}, {type(k)}")
print(f"values {v}, {type(v)}")

keys ['id', 'age', 'number'], <class 'list'>
values [332, 25, 423], <class 'list'>

In [ ]:
L1 = [2, 4, 6]
S1 = {"python", 'C#', 2, 9}

def F13(a):
    for i in a:
        print(i)

In [ ]:
F13(L1)

2
4
6

In [ ]:
F13(S1)

9
2
python
C#

In [ ]:
def F14(*args):
    for i in args:
        print(i)

In [ ]:
F14(4, 1, "python", 5, 2, [10, 20, "C#"])

4
1
python
5
2
[10, 20, 'C#']

In [ ]:
F14(L1)

5
6
2
8
7
4

In [ ]:
import math

def F15(*args):
    L1 = []
    for i in args:
        L1.append(math.sqrt(i))
    return L1

In [ ]:
x1 = F15(25, 4, 36, 81, 100)
x2 = F15(9)

print(x1)
print(x2)

[5.0, 2.0, 6.0, 9.0, 10.0]
[3.0]

In [ ]:
def F16(*args):
    Sum = 0
    for i in args:
        Sum += i
    return Sum

In [ ]:
F16(2, 8, 6)

16

In [ ]:
L1 = [5, 6, 2, 8, 7, 4]

F16(*L1)

32

In [ ]:
def F17(**kwargs):
    return kwargs

In [ ]:
F17(name="Reza", score=20)

{'name': 'Reza', 'score': 20}

In [ ]:
def F18(**kwargs):
    for key, value in kwargs.items():
        print(f"key: {key}, value: {value}")

In [ ]:
F18(name="ali", age=25)

key: name, value: ali
key: age, value: 25

In [ ]:
D1 = {
    "id": 332,
    "age": 25,
    "number": 423
}

F18(**D1)

key: id, value: 332
key: age, value: 25
key: number, value: 423

In [ ]:
def F19(**kwargs):
    k, v = [], []
    for key, value in kwargs.items():
        k.append(key)
        v.append(value)
    return k, v

In [ ]:
D2 = {
    "name": ["Ali", "Reza", "Zahra"],
    "Score": [19, 18, 20],
    "City": ["Tehran", "Karaj", "Kermanshah"],
    "Average": 18
}

F19(**D2)

(['name', 'Score', 'City', 'Average'],
 [['Ali', 'Reza', 'Zahra'],
  [19, 18, 20],
  ['Tehran', 'Karaj', 'Kermanshah'],
  18])

In [ ]:
def F20(a, *args, default = "python", **kwargs):
    return a, args, default, kwargs

In [ ]:
F20(2, [2,3,4], default="bigdataworld", **D2)

(2,
 ([2, 3, 4],),
 'bigdataworld',
 {'name': ['Ali', 'Reza', 'Zahra'],
  'Score': [19, 18, 20],
  'City': ['Tehran', 'Karaj', 'Kermanshah'],
  'Average': 18})

In [ ]:
a, b, c, d = F20(2, [2,3,4], default="bigdataworld", **D2)

In [ ]:
print(a)
print(b)
print(c)
print(d)

2
([2, 3, 4],)
bigdataworld
{'name': ['Ali', 'Reza', 'Zahra'], 'Score': [19, 18, 20], 'City': ['Tehran', 'Karaj', 'Kermanshah'], 'Average': 18}

In [ ]:
def F21(a, b, c, *args, default1 = "python", default2 = "C#", **kwargs):
    
    return a, b, c, args, default1, default2, kwargs

In [ ]:
a, b, c, d, e, f, g = F21("python", "bigdataworld", 20, {5, "Ali", "Nazarizadeh"}, default1="Django", default2="C++", **D2)

In [ ]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

python
bigdataworld
20
({'Ali', 'Nazarizadeh', 5},)
Django
C++
{'name': ['Ali', 'Reza', 'Zahra'], 'Score': [19, 18, 20], 'City': ['Tehran', 'Karaj', 'Kermanshah'], 'Average': 18}